<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050766186286-t2sbghmmg1btavv2vmgdijji7h6cu22a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050766186286-t2sbghmmg1btavv2vmgdijji7h6cu22a</string>
	<key>API_KEY</key>
	<string>AIzaSyB448suLMdQHE7SbWa3hoyf-AOUN35ZwGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1050766186286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndrewHolmes.RentCalc</string>
	<key>PROJECT_ID</key>
	<string>rentcalc101</string>
	<key>STORAGE_BUCKET</key>
	<string>rentcalc101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050766186286:ios:01c00ba402a2465f034cbf</string>
	<key>DATABASE_URL</key>
	<string>https://rentcalc101.firebaseio.com</string>
</dict>
</plist>